@import "src/app/styles/vars";

.header {
  padding: 23px 15px;
  color: $text;
  margin-bottom: 30px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  &__link {
    display: flex;
    align-items: center;

    .icon {
      margin-right: 5px;
    }
  }
}

.profile {
  &__name {
    margin-right: 10px;
  }

  &__avatar {
    display: flex;
    align-items: center;
    background: white;
    cursor: pointer;

    img {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      object-fit: cover;
      border: 1px solid $border-color;
      padding: 5px;
      margin-right: 5px;
    }
  }

  &__menu {
    border: 1px solid $border-color;
    padding: 10px 0;
    border-radius: 5px;
    min-width: 150px;
  }
}
