<!--<div *ngIf="!isLoading else loading">-->
<div>
  <nz-page-header [nzTitle]="project?.name">
  </nz-page-header>
  <div class="project-info">
    <div class="project-sidebar">
      <nz-card>
        <p>Информация</p>
      </nz-card>
    </div>
    <div class="project-grid">
      <nz-card [nzTitle]="'Эффективность работников на проекте ' + project?.name">
        <div class="chart-container">
          <canvas #canvas id="chart"></canvas>
        </div>
      </nz-card>
      <nz-card [nzTitle]="'Неудачи работников на проекте ' + project?.name">
        <div class="chart-container">
          <canvas #overdueCanvas id="overdueChart"></canvas>
        </div>
      </nz-card>
    </div>
  </div>
</div>
<ng-template #loading>
  <nz-spin nzSize="large"></nz-spin>
</ng-template>
