<div *ngIf="!isLoading else loading">
  <nz-page-header [nzTitle]="project.name">
  </nz-page-header>
  <div class="project-edit">
    <nz-tabset>
      <nz-tab nzTitle="Параметры">
        <form nz-form class="project-edit__form" [formGroup]="form">
          <nz-form-item>
            <nz-form-label class="label-width">Имя</nz-form-label>
            <nz-form-control>
              <input nz-input [formControlName]="'name'">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label class="label-width">ID</nz-form-label>
            <nz-form-control>
              <input nz-input [formControlName]="'projectId'">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label class="label-width">Владелец</nz-form-label>
            <nz-form-control>
              <input nz-input [formControlName]="'name'">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label class="label-width">Описание</nz-form-label>
            <nz-form-control>
              <textarea nz-input [formControlName]="'description'"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary">Сохранить</button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-tab>
      <nz-tab nzTitle="Команда">
        <form [formGroup]="teamForm">
          <nz-form-item>
            <nz-form-label>Роль</nz-form-label>
            <nz-form-control nz-col nzSpan="4">
              <nz-select [nzOptions]="roles" [formControlName]="'role'">
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary" (click)="isModalVisible = !isModalVisible">Добавить участника</button>
            </nz-form-control>
          </nz-form-item>
        </form>
        <nz-list nzBordered [nzHeader]="listHeader">
          <nz-list-item *ngFor="let item of project.users">
            <span nz-typography><mark>[ITEM]</mark></span>
            {{ item }}
          </nz-list-item>
        </nz-list>
      </nz-tab>
      <!--      <nz-tab nzTitle="Доступ">Content of Tab Pane 3</nz-tab>-->
      <!--      <nz-tab nzTitle="Поля">Content of Tab Pane 3</nz-tab>-->
    </nz-tabset>
  </div>
</div>
<ng-template #loading>
  <nz-spin nzSize="large"></nz-spin>
</ng-template>
<ng-template #listHeader>
  <div nz-row>
    <h4>Команда</h4>
    <input nz-input placeholder="Поиск пользователя">
  </div>
</ng-template>
<nz-modal [(nzVisible)]="isModalVisible" nzTitle="The first Modal"
          (nzOnCancel)="isModalVisible = false"
          (nzOnOk)="addUser()">
  <ng-container *nzModalContent>
    <form [formGroup]="searchUsersForm">
      <div nz-row>
        <nz-select [formControlName]="'field'" nz-col nzSpan="6">
<!--          <nz-option [nzLabel]="'Имя'" [nzValue]="'full_name'"></nz-option>-->
          <nz-option [nzLabel]="'Email'" [nzValue]="'email'"></nz-option>
          <nz-option [nzLabel]="'Имя пользователя'" [nzValue]="'username'"></nz-option>
        </nz-select>
        <nz-input-group nzSuffixIcon="search" nz-col nzSpan="16">
          <input nz-input [formControlName]="'term'">
        </nz-input-group>
      </div>
    </form>
  </ng-container>
</nz-modal>
