.issue-preview {
  padding: 20px;
  min-height: 400px;

  &__form {
    height: 100%;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__hero {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__textarea {
    min-height: 170px;
  }
}

.authors {
  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  &__title {
    margin-right: 7px;
    margin-bottom: 0;
  }

  &__btn {
    &:not(:last-child) {
      margin-right: 7px;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.grid-item {
  &__title {
    display: block;
    margin-bottom: 5px;
  }
}

.comments {
  display: flex;

  &__form {
    width: 100%;
  }

  &__user {
    margin-right: 15px;
  }

  &__form {
    flex: 1;
  }

  &__form-btn {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.textarea-control {
  position: relative;

  &__item {
    min-height: 150px;
  }

  &__btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
